body {
}


.intro {
    padding:5vw;
}

.parallax {
    display: block;
    height: auto;
    position: relative;
    width: auto
}

    .parallax .parallax-content {
        box-shadow: 0 1rem 2.1rem rgba(69, 77, 93, .3);
        height: auto;
        transform: perspective(1000px);
        transform-style: preserve-3d;
        transition: all .4s ease;
        width: 100%
    }

        .parallax .parallax-content::before {
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%
        }

    .parallax .parallax-front {
        align-items: center;
        color: #fff;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        text-align: center;
        text-shadow: 0 0 20px rgba(69, 77, 93, .75);
        top: 0;
        transform: translateZ(50px) scale(.95);
        transition: all .4s ease;
        width: 100%;
        z-index: 1
    }

    .parallax .parallax-top-left {
        height: 50%;
        left: 0;
        outline: 0;
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 100
    }

        .parallax .parallax-top-left:focus ~ .parallax-content,
        .parallax .parallax-top-left:hover ~ .parallax-content {
            transform: perspective(1000px) rotateX(3deg) rotateY(-3deg)
        }

            .parallax .parallax-top-left:focus ~ .parallax-content::before,
            .parallax .parallax-top-left:hover ~ .parallax-content::before {
                background: linear-gradient(135deg, rgba(255, 255, 255, .35) 0, transparent 50%)
            }

            .parallax .parallax-top-left:focus ~ .parallax-content .parallax-front,
            .parallax .parallax-top-left:hover ~ .parallax-content .parallax-front {
                transform: translate3d(4.5px, 4.5px, 50px) scale(.95)
            }

    .parallax .parallax-top-right {
        height: 50%;
        outline: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 100
    }

        .parallax .parallax-top-right:focus ~ .parallax-content,
        .parallax .parallax-top-right:hover ~ .parallax-content {
            transform: perspective(1000px) rotateX(3deg) rotateY(3deg)
        }

            .parallax .parallax-top-right:focus ~ .parallax-content::before,
            .parallax .parallax-top-right:hover ~ .parallax-content::before {
                background: linear-gradient(-135deg, rgba(255, 255, 255, .35) 0, transparent 50%)
            }

            .parallax .parallax-top-right:focus ~ .parallax-content .parallax-front,
            .parallax .parallax-top-right:hover ~ .parallax-content .parallax-front {
                transform: translate3d(-4.5px, 4.5px, 50px) scale(.95)
            }

    .parallax .parallax-bottom-left {
        bottom: 0;
        height: 50%;
        left: 0;
        outline: 0;
        position: absolute;
        width: 50%;
        z-index: 100
    }

        .parallax .parallax-bottom-left:focus ~ .parallax-content,
        .parallax .parallax-bottom-left:hover ~ .parallax-content {
            transform: perspective(1000px) rotateX(-3deg) rotateY(-3deg)
        }

            .parallax .parallax-bottom-left:focus ~ .parallax-content::before,
            .parallax .parallax-bottom-left:hover ~ .parallax-content::before {
                background: linear-gradient(45deg, rgba(255, 255, 255, .35) 0, transparent 50%)
            }

            .parallax .parallax-bottom-left:focus ~ .parallax-content .parallax-front,
            .parallax .parallax-bottom-left:hover ~ .parallax-content .parallax-front {
                transform: translate3d(4.5px, -4.5px, 50px) scale(.95)
            }

    .parallax .parallax-bottom-right {
        bottom: 0;
        height: 50%;
        outline: 0;
        position: absolute;
        right: 0;
        width: 50%;
        z-index: 100
    }

        .parallax .parallax-bottom-right:focus ~ .parallax-content,
        .parallax .parallax-bottom-right:hover ~ .parallax-content {
            transform: perspective(1000px) rotateX(-3deg) rotateY(3deg)
        }

            .parallax .parallax-bottom-right:focus ~ .parallax-content::before,
            .parallax .parallax-bottom-right:hover ~ .parallax-content::before {
                background: linear-gradient(-45deg, rgba(255, 255, 255, .35) 0, transparent 50%)
            }

            .parallax .parallax-bottom-right:focus ~ .parallax-content .parallax-front,
            .parallax .parallax-bottom-right:hover ~ .parallax-content .parallax-front {
                transform: translate3d(-4.5px, -4.5px, 50px) scale(.95)
            }

#recipeBlended i,
#recipeBlended a,
#recipeBlended p,
#recipeBlended h1,
#recipeBlended img {
    margin: 10px;
}

    #recipeBlended img{
        height:30vh;
    }

    #topic {
        background-color: antiquewhite;
        margin: 100px 10px 100px 10px;
        border: solid;
        border-radius: 10px;
        border-color: bisque;
    }

#topic:hover{
    opacity:0.5;

}

.food{
    padding:10px;
}

table{
    margin:20px;
}
td, th{
    font-size:24px;
    padding:10px;
}

#recipe{
    border:solid;
    border-radius: 20px;
    padding:20px;
    font-size:20px;
    margin-top:20px;
}

#recipe li{
    padding-left:20px;
    list-style-image: none;
    padding-bottom:8px;
}

.reason {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submission {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.survey{
    border-radius:50px;
}

.columns {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.4rem;
    margin-right: -.4rem
}

    .columns.col-gapless {
        margin-left: 0;
        margin-right: 0
    }

        .columns.col-gapless > .column {
            padding-left: 0;
            padding-right: 0
        }

    .columns.col-oneline {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto
    }


.col-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.col-ml-auto {
    margin-left: auto
}

.col-mr-auto {
    margin-right: auto
}

