/*----- Constant -----*/
body
{
    background-color: mediumturquoise;
}

* {
    box-sizing: border-box
}

.paragraph {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    font-size: 25px;
    color: floralwhite;
}

.header {
    font-family: 'Allan', cursive;
    margin: 10px;
    color: floralwhite;
    font-size: 80px;
    white-space: nowrap;
}

.cite {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    color: floralwhite;
    font-size: 20px;
}

/*----- 1. ABOUT CAKE -----*/
#image {
    width: 500px;
    display: block;
}
.overlay {
    position: absolute;
    margin-left: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.col-sm-3:hover .overlay {
    opacity: 0.5;
}
/*-------------------------*/