/*----- Constant -----*/
body {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.paragraph {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    font-size: 20px;
    color: floralwhite;
}

.header {
    font-family: 'Allan', cursive;
    margin: 10px;
    color: floralwhite;
    font-size: 50px;
    white-space: nowrap;
}

.cite {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    color: floralwhite;
    font-size: 15px;
}

/*----- COLLAPSIBLE -----*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 110.5%;
}
.collapsible:hover {
    opacity: 0.9;
}
.content {
    padding: 10px 10px;
    display: none;
    overflow: hidden;
    width: 110.5%;
    height: 45%;
    word-wrap: break-word;
}
.row {
    display: flex;
    justify-content: space-around;
}
.overlayText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.col-sm-3 {
    position: relative;
    margin: 50px;
}
.image {
    width: 500px;
    display: block;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.overlay {
    position: absolute;
    margin-left: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.col-sm-3:hover .overlay {
    opacity: 0.5;
}
/*-------------------------*/
/*----- BOX -----*/
#boxRow {
    display: block;
    text-align: center;
    background: #FF5757;
    padding-top: 5px;
    padding-bottom: 5px;
}
.boxHeader {
    font-family: 'Allan', cursive;
    margin: 10px;
    color: floralwhite;
    font-size: 100px;
    white-space: nowrap;
}
.boxPara {
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 50px;
    font-size: 20px;
    color: floralwhite;
    word-break: break-word;
}
/*----- IFRAME -----*/
.video {
    width: 100%;
    height: 600px;
    max-width: 1000px;
    margin: 35px;
}
/*------------------*/
/*----- TABLE -----*/
#ingredients {
    border-collapse: collapse;
    float: right;
    width: 100%;
    max-width: 800px;
    margin-top: 35px;
    margin-right: 25px;
    background-color: #08848a;
}
td, th {
    border: 1px solid floralwhite;
    text-align: left;
    padding: 8px;
    font-size: 20px;
    color: floralwhite;
}
tr:nth-child(even) {
    background-color: #00C2CB;
}
#steps {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 35px;
    margin-right: 80px;
}
.steps {
    display: flex;
    float: left;
    position: relative;
    text-align: justify;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: #08848a;
}
/*-----------------*/
/*----- FORM -----*/
.myForm {
    float: right;
    background-color: #7ED957;
    width: 100%;
    max-width: 800px;
}
.label {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
    color: floralwhite;
}
#textarea {
    padding: 5px;
}
#credits {
    float: right;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 800px;
    margin-top: 50px;
    padding: 10px;
    background: #FF5757;
    border: double;
}
#creditPara {
    padding: 10px;
}