/*----- Constant -----*/
body
{
    background-color: mediumturquoise;
}

* {
    box-sizing: border-box
}

.paragraph {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    font-size: 20px;
    color: floralwhite;
}

.header {
    font-family: 'Allan', cursive;
    margin: 10px;
    color: floralwhite;
    font-size: 50px;
    white-space: nowrap;
}

.cite {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px;
    color: floralwhite;
    font-size: 15px;
}

/*----- COLLAPSIBLE -----*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 110.5%;
}
.collapsible:hover {
    opacity: 0.9;
}
.content {
    padding: 10px 10px;
    display: none;
    overflow: hidden;
    width: 110.5%;
    height: 45%;
    word-wrap: break-word;
}
.row {
    display: flex;
    justify-content: space-around;
}
.overlayText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.col-sm-3 {
    position: relative;
    margin: 50px;
}
.image {
    width: 500px;
    display: block;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.overlay {
    position: absolute;
    margin-left: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.col-sm-3:hover .overlay {
    opacity: 0.5;
}
/*-------------------------*/