body {
    font-family: Courier New, Courier, monospace;
    font-weight: 500;
}

#content {
    margin:auto;
    width:90%;
}

#roasts {
    margin: 10px auto;
    text-align:center;
}

#roasts h5 {
    margin-top:5px;
    background-color: peachpuff;
    border: 5px solid peachpuff;
    border-radius: 5px;
}

#roasts img{
    object-fit: cover;
    width:90%;
}

#roasts button {
    position: absolute;
    top: 10.3em;
    width: 8%;
    padding: 1px;
    font-size: 1.5vw;
    /*
border:1px solid;
background-color:transparent;
color:white;
*/
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    box-shadow:0px 0px 10px white;
}

#light {
    left: 25.5%;
    /*color:goldenrod;*/
}

#medium{
    left:46%;
    /*color:saddlebrown;*/
}

#dark {
    right: 25.5%;
    /*color:#362204;*/
}

#cookielink {
    cursor: url(../images/cookiecursor.png), auto;
}

#roast-info {
    width: 80%;
    margin:auto;
    background-color:peachpuff;
    border:5px solid peachpuff;
    border-radius:5px;
}

#roast-info p{
    text-align: center;
}

#recipe {
    border: 5px double peachpuff;
    border-spacing: 5px;
    border-radius: 5px;
    padding: 4px;
    max-width: 100%;
}

aside {
    background-color: peachpuff;
    border: 5px solid peachpuff;
    border-radius: 5px;
    padding: 20px;
    /*padding-left: 50px;*/
    height: 100%;
    text-align: center;
}

/*
#form {
    border: 5px double peachpuff;
    border-spacing: 5px;
    border-radius: 5px;
}
*/
