
/* global styles */
body {
    font-family: 'Arvo', serif;
}

h1 {
    background-color: antiquewhite;
    border-radius: 5px;
    font-family: 'Hachi Maru Pop', cursive;
}

/* intro styles */


#header h1 {
    font-family: 'Reenie Beanie', cursive;
}


#intro {
    padding: 25px;
    margin: 10px;
    border: dotted;
    border-radius: 5px;
    border-color: lightpink;
}

#cookie1 {
    padding: 5px;
    height: auto;
    width: 400px;
    background-color:lightpink;
    border-radius: 5px;
    margin: 5px;
}


.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: bisque;
}

.container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#learnmore {
    padding: 10px;
    color: black;
    border: solid;
    background-color: bisque;
    text-decoration: none;
    border-radius: 5px;
}

#learnmore:hover{
    background-color: bisque;
    opacity: 0.4;

}

/* Recipe styles */
#recipe {
    padding: 25px;
    margin: 10px;
    border: dotted;
    border-radius: 5px;
    border-color: lightpink;
    width: 800px;
}

#tipslist li{
    margin:10px;
}

#tipheader {
    font-size: 20px;
}

#recipedetails {
    padding: 25px;
    margin: 10px;
    border: dotted;
    border-radius: 5px;
    border-color: lightpink;
}

#ingredients li {
    margin: 10px;
}

#instructions li {
    margin: 10px
}

#coffeelink {
    text-decoration: none;
    background-color: bisque;
    color: black;
    cursor: url("../images/coffeeicon.png"), auto;
}

#coffeelink:hover {
    background-color: bisque;
    opacity: 0.8;
}

/* Video styles */

#cookievideo {
    border: dotted;
    border-radius: 5px;
    border-color: lightpink;
    align-content: center;
    margin: 10px;
    padding: 30px;
    width: 800px;
}


/* Form styles */

#formsection {
    background-color: bisque;
    border-radius: 5px;
    padding: 0.5px;
    margin: 10px;
    
    
}
#form {
    background-color: lightpink;
    border-radius: 5px;
    border: hidden;
    margin: 10px;
    padding: 20px;
    text-align: center;
}


#header {
    text-align: center;
    padding-bottom: 1px;
}

#formlabel {
    font-size: 20px;
    
}

#label {
    margin-right: 5px;
    margin-left: 10px;
}

#star {
    margin: 0px 10px 0px 10px;
}

#submission {
    background-color: bisque;
    border-color: lightpink;
}

#submission:hover{
    opacity:0.8;
    background-color: white;
}

/* Table styles */

#table h1{
    width: 750px;
}

#table {
    border: dotted;
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
    width: 800px;
    border-color: lightpink;
}

#table tr,th,td{
    border: solid;
    padding: 15px;
}

#table table{
    margin: 20px 20px 0px 50px; 
    border: dotted;
}

#left {
    background-color: lightpink;
}

#right {
    background-color: bisque;
}