/* footer styles */

form{
    border:double;
    color:black;
    padding:2em;
    margin-right:3em;
}
footer {
    font-family: verdana, sans-serif;
    border: unset;
    text-align: center;
    font-size: .8em;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top:-11em;
    background-color: rosybrown;
}

.footer input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer form{
    padding:2em;
}

.footer li, a, ul {
    text-align: left;
    list-style-type: none;
}