/* footer styles */
html,body { margin:0; padding:0; }
form{
    border:double;
    color:black;
    padding:2em;
}
footer {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: .8em;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rosybrown;
    font-size: 20px;
}

.footer input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer form {
    padding: 2em;
    margin-right: 20px;
}

.footer li, a, ul {
    text-align: left;
    list-style-type: none;
}