/* footer styles */

form{
    border:double;
    color:black;
    padding-top:2em;
    padding-bottom:2em;
    margin-right:3em;
}
footer {
    font-family: verdana, sans-serif;
    border: unset;
    text-align: center;
    font-size: .8em;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top:-11em;
    background-color: rosybrown;
}
    footer:hover {
        color: #EADDC4;
    }
