@charset "UTF-8";

/* Set the box-sizing model to border-box for all the elements in the document */

}

* {
  box-sizing: inherit;
}

main{
    margin:20px;
    padding:10px;
}

body img {
    height: 500px;
    width: 500px;
    position: absolute;
    left:50%;
    top: 300px;
}
