@charset "UTF-8";

/* Set the box-sizing model to border-box for all the elements in the document */

}

* {
  box-sizing: inherit;
}

main{
    margin:20px;
    padding:10px;
}

    body img {
        height: 200px;
        width: 200px;
        
        position: absolute;
        left: 50%;
        top: 0;
        
    }
