@charset "UTF-8";

/* Set the box-sizing model to border-box for all the elements in the document */
html {
    box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.pizza_pic {
    background-image: url(https://cdn.pixabay.com/photo/2019/09/24/08/49/pizza-4500771_1280.jpg);
    background-attachment:fixed;
}

body {
    font-family: Verdana, Arial, serif;
    font-size: 100%;
    background-color: white;
    margin: 0;
}

/* main "products" styles */
main {
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-size: 1em;
    color: #555;
    line-height: 1.8em;
    padding: 1em;
    border: double 4px #EADDC4;
    border-radius: 25px;
    margin-top: 1em;
    /*margin: 2.5%*/
}
.form {
    border: double 4px #EADDC4;
    padding: 30px 20px 20px 30px;
}
h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
background-color:antiquewhite;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.more {
  font-family: verdana, sans-serif;
  text-transform: uppercase; 
  font-size: .8em;
  color:black;
  background-color:antiquewhite;
  clear: left;
}

main img {
  float: left;
  margin: 0 1em 1em 0;
  width:49%;
}
.carousel-item{
    height: 10%;
    width: 100%;
}

img[src*="muffin"] {
  margin-left: 50px;
}
.h3-responsive  {
    background-color: antiquewhite;
    margin: 10px;
    padding-left: 6px;
    color:black;
    text-align:center;
}
/* aside "hours" styles */
aside {
    background-color: #F6F3ED;
    padding: 1em;
    padding-left: 45px;
    margin-top: 1em;
    height: 100%;
}
/* misc styles */
h2 {
  font-family: 'Stint Ultra Expanded', Georgia, serif;
  font-size:40px;
  padding:30px 10px 30px 10px;
}
.day {
  color: #783F27;
  font-family: verdana, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}
.onsubmit{
    font-size:50px;
}
