@charset "UTF-8";
header {
    font-family: 'Montserrat',sans-serif;
    color: black;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

header h1 {
        padding: 0.8em 1em;
        font-size: 1em;
        margin-top: 1.5em;
}

    header p {
        font-style: italic;
        /*margin-top: -1.2em;*/
        margin-top: -12px;
        padding-bottom: 0.8em;

    }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #F9AB33;
    border: 1px solid;
    border-radius: .5em;
    margin: 0.5em;
    padding: 0.2em;
    min-width: 8em;
}
header h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:45px;
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color:floralwhite;
    }

/* change the hamburger button button outline color when it is clicked */
.navbar-toggler:focus, .navbar-toggler:active {
    outline-color: #F9AB33;
    margin: 0.5em; /* Set margin to align the border with menu text */
}
