@charset "UTF-8";


header {
    color: whitesmoke;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background: url(../images/cafe.png) bottom no-repeat;
    font-family: 'Reenie Beanie', cursive;
    max-height: 50vh;
    width: auto;
    animation: flyin 1.2s ease forwards;
}

    header h1 {
        padding: 0.2em 0.2em;
        font-size: 8vh;
        margin-top: 2em;
        background-color: rgba(0,0,0,0.4);

    }

    header p {
        font-style: italic;
        margin-top: 3px;
        padding-bottom: 10em;
        

    }

header p span{
    background-color: rgba(0,0,0,0.4);
    padding:12.5px;
    font-size: 25px;

}


nav div {
    background-color: rgba(0,0,0,0.4);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    padding: 15px;
    min-width: 3em;
    transition: all ease 1s;
    font-size: 30px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    background-color: #211b4385;
}



    /* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color:red;
}

/* change the hamburger button button outline color when it is clicked */
.navbar-toggler:focus, .navbar-toggler:active {
    outline-color: #F9AB33;

    /*margin: 0.5em;  Set margin to align the border with menu text */
}
