@charset "UTF-8";

/* Set the box-sizing model to border-box for all the elements in the document */


* {
  box-sizing: inherit;
}

main{
    margin:20px;
    padding:10px;
}

#slideshow{
    
}
body img:not(header) {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#slideshow img {
    margin-top: 8em;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#btn {
    position: absolute;
    margin: auto;
    text-align:center;
    left: 0;
    right: 0;
    width:500px;
    padding:20px;
    font-size:1em;
    background-color:darkslategrey;
    color:whitesmoke;
    margin-top:2em;
}

